

<!-- rooms/list.html -->
{% extends "base.html" %}

{% block content %}
  <h2>Room List</h2>
  <a href="{% url 'create_room' %}">Create Room</a>
  <ul>
    {% for room in rooms %}
      <li>
        Room {{ room.room_number }} - {{ room.room_type }} - Hostel: {{ room.hostel.name }} - Occupants: {{ room.current_occupants }}/{{ room.capacity }}
        <a href="{% url 'update_room' room.id %}">Edit</a>
        <a href="{% url 'delete_room' room.id %}">Delete</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
