{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    .form-group {
        margin-bottom:20 px;

    }
    .form-group label{
        font-weight:bold;
    }
    .form-group input , select  {
        border-radius: 5px;
        padding: 10px;
        width: 270px;
        font-size: 16px;
        border: 1px solid #ced4da;
    }

    .form-group textarea {
        background: transparent;
        border: 1px solid gray;
        padding: 1rem;
        border-radius: 15px;
        width: 100%;
        height: 100px;
        color: black;
        font-weight: 500;
        outline: none;
    }
</style>    

    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Add Student </h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'student_list' %}"> Students</a> </li>
                        <li class="breadcrumb-item active">Student database</li>
                    </ul>
                </div>
                
            </div>
        </div>
        <!-- /Page Header -->
        
        <!-- Search Filter -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Add  Student Database</h4>
                        {% if messages %}
                        {% for message in messages %}
                             <div class="alert alert-{{ message.tags }} warning alert-dismissible fade show" role="alert">
                                 <strong>{{ message }}   </strong> 
                                 
                                 </div>
                             {% endfor %}
                         {% endif %}
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Personal Information</h4>
                        <form method='post'>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="form-group row">
                                           <label for="username" class="col-lg-3 col-form-label">Username</label>
                                            <div class="col-lg-9">
                                                {{ form.username }}
                                            </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="student_id" class="col-lg-3 col-form-label">Registration No</label>
                                        <div class="col-lg-9">
                                            {{ form.student_id}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="email" class="col-lg-3 col-form-label">Email</label>
                                        
                                        <div class="col-lg-9">
                                            
                                            <div class="col-lg-9">
                                                {{ form.email }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label  for="phone_number" class="col-lg-3 col-form-label">Phone</label>
                                        <div class="col-lg-9">
                                            
                                                {{ form.phone_number }}
                                         
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="form-group row">
                                        <label for="first_name" class="col-lg-3 col-form-label">First name</label>
                                        <div class="col-lg-9">
                                            {{ form.first_name}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label  for="last_name" class="col-lg-3 col-form-label">Last Name </label>
                                        <div class="col-lg-9">
                                            {{ form.last_name}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label  for="course" class="col-lg-3 col-form-label">course</label>
                                        <div class="col-lg-9">
                                            {{ form.course }}
                                        </div>
                                    </div>
                                    
                                 
                                    <div class="form-group row">
                                        <label for="year_of_study" class="col-lg-3 col-form-label">Year </label>
                                        <div class="col-lg-9">
                                        {{ form.year_of_study}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="form-group row">
                                        <label for="dom" class="col-lg-3 col-form-label">Gender </label>
                                            <div class="col-lg-9">
                                                {{ form.gender }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label  for="room" class="col-lg-3 col-form-label">room </label>   
                                        <div class="col-lg-9">
                                            {{ form.room }}
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-xl-6">
                                    <div class="form-group row">
                                        <label  for="profile_picture" class="col-lg-3 col-form-label">profile</label>
                                        <div class="col-lg-9">
                                            {{ form.profile_picture }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="intake" class="col-lg-3 col-form-label">intake</label>
                                        <div class="col-lg-9">
                                            {{ form.intake }}
                                        </div>
                                    </div>
   
                                </div>
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Search Filter -->
    

{% endblock %}
